messages should be shown here
<br/>

<% @messages.each do |message| %>
  <b><%= message.sender.username %>:</b> <%= message.text %>
  <br/>
<% end %>

<%= form_for(@message) do |f| %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.new %>
  </div>
