
<p id="notice"><%= notice %></p>
<br/><br/>

<% @messages.each do |message| %>
  <b><%= message.sender.username %>:</b> <%= message.text %>
  <br/>
<% end %>

<br/><br/>

<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text, :message %><br />
    <%= f.text_area :text %>
  </div>

  <%= f.hidden_field :sender_id, :value => current_user.id %>
  <%= f.hidden_field :receiver_id, :value => @user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
